sudo: true
dist: trusty
language: python
python:
- 3.6.5
env:
  global:
  - DEBIAN_FRONTEND=noninteractive
  - CONFIG=config.ini
before_install:
- pip install --upgrade pip
- pip --version
install:
- make install_dev
- pip install codecov
before_script:
- pip freeze
jobs:
  include:
  - stage: lint and test
    script:
    - make lint
    - make test
    - codecov
    - make test_no_git
  - stage: deploy
    if: tag IS present
    install:
    - travis_retry pip install -U setuptools wheel
    script:
    - python setup.py sdist bdist_wheel
    deploy:
      provider: pypi
      user: vgrabovets
      password:
        secure: cAS55a1cHDxPmKFcvLtZgEDK7lEUkESVfOFRunY6xI1ZTfzvc8POYax1DM2XQiTRRB2bISUDkfpZ3Vm/7Ovhk4+10VVosdjfmrE7Ln5hA5fep7prlTgsyZyNg0dkdNWwIKeD7Nlzd02LBvikw41gPuca9SqyN9Y7TaHlM4I/iZWQRUN+mt8kdsAzb3Kb2LSnMyYXZKEdigczGI1LSJqZ7sWJq/igBtfd3Q2SZUioou7HMR2GNYQmTJRm7f2jKPUGexkEqzV9dRzTUMoF3O48O1RcI8zIRmlUd3ZXjqHf5za7ilSdi5KfXRw9Qx4p2/DU5q0QEgA9Bo5eMItHQ4LvsZABBi7a7Hto90RQZ0Wj6NJFA6QckzmRvYZQw9ue8oIVbgd3KuL6Ez/mlyFNWp2yCkPBPnGgnoFrYXskblurJl8L4cV1V5EEITKldkggvPup2V8mMVepoyeui3CmoifRjXUqiAwZjsUUSDZbRr6jr/w+Vm1hG4J3TkRicZ5wvkOiDX16c9FC8O7sTVYPWIryjVBoNzyo5/0ftzhirY1qDP3rFFqBVJUjG1ebqzSfD1mT/fVwHU7sAqPYyDuH7GyxIuEKVyXUPeBjVgR+/2PTQTVb9LfkvPogb079adoQVhFpgdHUN9RPwTw87vdDyTtWJwmwygxIJC2FCuXhpAPWRLo=
      distributions: "sdist bdist_wheel"
      on:
        tags: true
cache: pip